
#followingBallsG{
position:relative;
width:128px;
height:10px;
}

.followingBallsG{
background-color:#289E43;
position:absolute;
top:0;
left:0;
width:10px;
height:10px;
-moz-border-radius:5px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.7s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.7s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_followingBallsG;
animation-duration:1.7s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.17s;
-webkit-animation-delay:0.17s;
-ms-animation-delay:0.17s;
-o-animation-delay:0.17s;
animation-delay:0.17s;
}

#followingBallsG_3{
-moz-animation-delay:0.34s;
-webkit-animation-delay:0.34s;
-ms-animation-delay:0.34s;
-o-animation-delay:0.34s;
animation-delay:0.34s;
}

#followingBallsG_4{
-moz-animation-delay:0.51s;
-webkit-animation-delay:0.51s;
-ms-animation-delay:0.51s;
-o-animation-delay:0.51s;
animation-delay:0.51s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#289E43;
}

50%{
left:118px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#289E43;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#289E43;
}

50%{
left:118px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#289E43;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#289E43;
}

50%{
left:118px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#289E43;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#289E43;
}

50%{
left:118px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#289E43;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#289E43;
}

50%{
left:118px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#289E43;
}

}